<!DOCTYPE html>
<html>
<head>
{% extends 'layout.html' %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tips and Tricks</title>
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Tips.css') }}">
</head>
<body>

<div class="quote">"Too many people spend money they earned..to buy things they don't want..to impress people that they don't like." --Will Rogers</div>

<div class="slideshow-container">

<div class="mySlides fade">
  <div class="numbertext">1 / 10</div>
  <img src="{{ url_for('static', filename='cryptocurrency_new_cash.jpg') }}" style="width:100%">
  <div class="text"><b>Use Cash</b></div>
  <div class="para">Spending cash makes the spending more real, and there's an added advantage of knowing when you're out of cash, instead of spending more than you have.</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">2 / 10</div>
  <img src="{{ url_for('static',filename='emergency-fund-1940x900_36282.jpg')}}" style="width:100%">
  <div class="text"><b>Build An Emergency Fund</b></div>
  <div class="para">It can make a lot of difference. Low-income families with an emergency fund are better off financially than moderate-income families with less saved up.</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">3 / 10</div>
  <img src="{{ url_for('static',filename='child-alone-at-home.jpg')}}" style="width:100%">
  <div class="text"><b>Stay Home</b></div>
  <div class="para">Going out makes you spend more than necessary. You go to the mall, eat at restaurants. It's hard to avoid spending when you're on the road. Instead, find free entertainment at home and bond with your family.</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">4 / 10</div>
  <img src="{{ url_for('static',filename='Automatic-Savings-blog-pic.jpg')}}" style="width:100%">
  <div class="text"><b>Save Automatically</b></div>
  <div class="para">Setting up automatic savings is the easiest and most effective way to save, and it puts extra cash out of sight and out of mind. Every pay day, have your employer deduct a certain amount from your paycheck and transfer it to a retirement or savings account. Or every month, have your bank or credit union transfer a fixed amount from your checking account to a savings or investment account.</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">5 / 10</div>
  <img src="{{ url_for('static',filename='01-savings-10-creative-ways-to-save-money-you-haven-t-thought-of_70550551-focal-point.jpg')}}" style="width:100%">
  <div class="text"><b>Don't Get Catalogs</b></div>
  <div class="para">Or emailed promotions from companies trying to sell you stuff. Their announcements of sales or cool new products make it very tempting to buy something you don't need. Stop the catalogs and you'll spend less.</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">6 / 10</div>
  <img src="{{ url_for('static',filename='24-Hour-Red-Clock.jpg')}}" style="width:100%">
  <div class="text"><b>Use The 24 Hour Rule</b></div>
  <div class="para">This rules helps avoid purchasing expensive or unnecessary items on impulse. Think over each nonessential purchase for at least 24 hours. This is particularly easy to do while shopping online, because you can add items to your cart or wish list and come back to them a day later.</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">7 / 10</div>
  <img src="{{ url_for('static',filename='BJFt8BVJl.jpg')}}" style="width:100%">
  <div class="text"><b>Pay Savings And Debt First</b></div>
  <div class="para">When you sit down to pay your, make the first bills you pay be your savings transfer and your debt payments. If not, if you pay them last … you'll often end up shortchanging them. But if you pay them first, you'll make sure you still pay your rent or mortgage, utilities, groceries and gas … so you'll just cut back on other spending.</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">8 / 10</div>
  <img src="{{ url_for('static',filename='frugal-gifts.jpg')}}" style="width:100%">
  <div class="text"><b>Try Frugal Gift-Giving</b></div>
  <div class="para">Giving people gifts is one of the most wonderful traditions, as it shows generosity and caring. Until it becomes commercialized. Then it's just really really expensive. Instead, try giving the gift of spending time with someone. Try giving them something you baked or made yourself. Try giving them services they'd appreciate. It doesn't have to cost a lot to be generous.</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">9 / 10</div>
  <img src="{{ url_for('static',filename='work-life-balance-852x568.jpg')}}" style="width:100%">
  <div class="text"><b>Treat Yourself, But Use It As An Opportunity To Save</b></div>
  <div class="para">Match the cost of your nonessential indulgences in savings. So, for example, if you splurge on a smoothie while out running errands, put the same amount into your savings account. And think of it this way, if you can't afford to save the matching amount, you can't afford the treat either.</div>
</div>

<div class="mySlides fade">
  <div class="numbertext">10 / 10</div>
  <img src="{{ url_for('static',filename='foundations-of-happiness.jpg')}}" style="width:100%">
  <div class="text"><b>Find Happiness In Life, Not Spending</b></div>
  <div class="para">Many times people buy stuff because they think (subconsciously perhaps) that it will bring them happiness. And yet, you buy that stuff, and you're only happy for a day or two at most. Instead, learn to love life. Find joy in nature! In the people around you! In doing something you love! In exercise and meditation! There's so much in life to make us happy, there's no need to find it in spending.</div>
</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
</div>

<script src="{{ url_for('static',filename='Tips.js')}}">
</script>
</body>
{% endblock %}
</html>
